.Banner
{
  position: relative;
  top: 30px;
  width: 100%;
  background-color: var(--bannerBG);
  color: white;
}

.swiggyGrid
{
  display: grid;
  grid-template-columns: 254px minmax(32rem, 40rem) 298px;
  align-items: center;
  margin: 0 auto;
  padding: 2.5rem;
  justify-content: center;
  align-content: center;
}

/*Restaurant Logo container*/
#rLogo
{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 254px;
  height: 165px;
  border: 1px solid var(--borderWhite);
}

/*Restaurant Logo*/
#rLogo img
{
  height: 100px;
}

/*Restaurant Description*/
#desc
{
  padding: 0 50px;
}

#desc h1
{
  font-weight: 500;
}

#desc h4
{
  font-weight: 400;
  font-size: 15px;
  opacity: 0.7;
  margin-top: 12px;
}

#desc h6
{
  font-size: 12px;
  font-weight: 400;
  opacity: 0.7;
  margin-top: 8px;
}

#desc span
{
  font-weight: 600;
  cursor: pointer
}

.details
{
  display: flex;
  margin-top: 21px;
}

#rating
{
  padding-right: 35px;
}

#openClosed
{
  padding: 0 35px;
  border-left: 1px solid var(--borderWhite);
  border-right: 1px solid var(--borderWhite);
}

#avgPrice
{
  padding-left: 35px;
}

.actions
{
  display: flex;
  align-items: stretch;
  position: absolute;
  bottom: -20px;
  height: 40px;
  z-index: 5;
  font-size: 14px;
  font-weight: 600;
}

.actions div
{
  display: flex;
  align-items: center;
  background-color: white;
  color: var(--black);
  border: 1px solid rgb(235, 235, 235);
  box-shadow: 0 20px 30px 0 rgb(240, 240, 240);
  margin-right: 22px;
  padding: 0 15px;
}

.actions i
{
  font-size: 18px;
  margin-right: 10px;
}

.actions input
{
  border: none;
  width: 192px;
  font-size: 12px;
  font-weight: 600;
  color: #3d4152;
}

#veg:hover
{
  color: green;
  cursor: pointer;
}

#fav:hover
{
  color: #fa4a5b;
  cursor: pointer;
}


/*Offers*/
.offersBox
{
  position: relative;
  border: 1px solid var(--borderWhite);
  padding: 25px 25px 9px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.2;
}

#offersHeading
{
  font-size: 20px;
  font-weight: 600;
  position: absolute;
  padding: 8px;
  top: -20px;
  left: -16px;
  background-color: var(--bannerBG)
}

.offersBox li
{
  display: flex;
  margin-bottom: 16px;
}

.offersBox li img
{
  margin-right: 0.5em;
  align-self: flex-start;
}