.Categories 
{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    text-align: right;
    padding-top: 56px;
}

.Categories div
{
    padding-right: 40px;
    margin-bottom: 12px;
}

.Categories a
{
    color: inherit;
    text-decoration: none;
}

.Categories a:active
{
    color: var(--orange)
} 

.Categories div:hover
{
    border-right: 4px solid var(--orange);
    color: var(--orange);
}