.DishList
{
    grid-column: 2/3;
    padding: 0 55px;
}

.Dish
{
    display: flex;
    justify-content: space-between;
}
.DishImg
{
    position: relative;
    width: 128px;
    height: 108px;
}

.DishImg img
{
    width: 128px;
    border-radius: 5px;
}

.DishImg::before
{
    content: '';
    background-color: rgba(65, 65, 65, 0.055);
    position: absolute;
    border-radius: 5px;
    width: inherit;
    height: inherit ;
}

.DishImg button
{
    position: absolute;
    background-color: white;
    color: green;
    left: 16px;
    bottom: -16px;
    width: 96px;
    height: 32px;
    border: 1px solid rgba(0, 161, 13, 0.397);
}

.DishImg button::after
{
    content: '+';
    position: absolute;
    top: 0;
    right: 2px;
}

.DishDesc img
{
    width: 16px;
    height: 16px;
    margin-bottom: 0.5em;
}